{% extends 'base.html' %}
{% load static %}
{% block content_main %}
  <div class="page-title-container">
    <h1 class="text-center page-title">Cart</h1>
    <p class="page-subtitle">{{ page_description }}</p>
  </div>
  <div class="page-section">
    <div class="page-container">
      <div class="page-grid">
        <div class="cart-products-section">
          {% for cart_product in cart_products %}
            <div class="cart-product-card">
              <div class="cart-product-link">
                <a href="{% url 'product_detail' pk=cart_product.product.pk %}">
                  {% if cart_product.product.productimage_set.exists %}
                    <img src="{{ cart_product.product.productimage_set.first.image.url }}" alt="{{ cart_product.product.name }}" class="cart-product-image" />
                  {% else %}
                    <img src="{% static 'assets/img/no-clothes-picture.jpg' %}" alt="{{ cart_product.product.name }}" class="cart-product-image" />
                  {% endif %}
                </a>
              </div>
              <div class="cart-product-title">
                <h3>{{ cart_product.product.name }}</h3>
              </div>
              <form class="cart-product-details-form">
                <p>
                  Quantity: <input type="number" name="quantity" value="{{ cart_product.quantity }}" min="1" max="{{ cart_product.product.stock|default:0 }}" required class="cart-product-quantity" />
                </p>
                <p>Total Price: £{{ cart_product.total|floatformat:2 }}</p>
                <div class="cart-product-actions">
                  <button type="button" value="remove_from_cart" class="btn btn-danger remove-from-cart-btn">Remove</button>
                  <button type="button" value="update_cart" class="btn btn-primary update-cart-btn">Update</button>
                </div>
              </form>
            </div>
            <hr class="horizontal-rule" />
            {% if forloop.last %}
              <button type="button" value="checkout" class="btn btn-primary checkout-btn">Checkout</button>
            {% endif %}
          {% empty %}
            <h3>No products in your cart</h3>
            <hr class="horizontal-rule" />
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
