{% extends 'base.html' %}
{% load static %}
{% block content_main %}
  <div class="page-title-container">
    <h1 class="text-center page-title">Cart</h1>
    <p class="page-subtitle">{{ page_description }}</p>
  </div>
  <div class="page-section">
    <button id="clear-all-carts-button">Clear All</button>
    <div class="page-container">
      <div class="page-grid">
        <div class="cart-products-section">
          {% for cart_product in cart_products %}
            <div class="cart-product-card">
              <div class="cart-product-link">
                <a href="{% url 'product_detail' pk=cart_product.product.pk %}">
                  {% if cart_product.product.image %}
                    <img src="{{ cart_product.product.image.url }}" alt="{{ cart_product.product.name }}" class="cart-product-image" />
                  {% else %}
                    <img src="{% static 'assets/img/no-clothes-picture.jpg' %}" alt="{{ cart_product.product.name }}" class="cart-product-image" />
                  {% endif %}
                </a>
              </div>
              <div class="cart-product-title">
                <h3>{{ cart_product.product.name }}</h3>
              </div>
              <form class="cart-product-details-form">
                <p>
                  Quantity:<input type="number" name="quantity" value="{{ cart_product.quantity }}" min="1" max="{{ cart_product.product.stock|default:0 }}" required class="cart-product-quantity" id="{{ cart_product.product.pk }}" />
                </p>
                <p class="total-price" id="{{ cart_product.product.pk }}">Total Price: £{{ cart_product.total|floatformat:2 }}</p>
                <div class="cart-product-actions">
                  <input type="hidden" value="{{ cart_product.product.pk }}" id="{{ cart_product.product.pk }}" />
                  <button type="button" value="{% url 'remove_from_cart' %}" class="remove-from-cart">Remove</button>
                  <button type="button" value="{% url 'update_cart' %}" class="update-cart">Update</button>
                </div>
              </form>
            </div>
            <hr class="horizontal-rule" />
            {% if forloop.last %}
              <a href="{% url 'checkout' %}"><button type="button" value="checkout" id="checkout">Checkout</button></a>
            {% endif %}
          {% empty %}
            <h3>No products in your cart</h3>
            <hr class="horizontal-rule" />
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <script>
    $('.remove-from-cart, .update-cart').on('click', function () {
      const productId = $(this).siblings($('input[type="hidden"]')).val()
      const quantity = $('input[type="number"][id="' + productId + '"]').val()
      const total = $('p[id="' + productId + '"][class="total-price"]')
      const url = $(this).val()
      // Send AJAX request to update cart
      $.ajax({
        type: 'POST',
        url: url,
        data: {
          product_id: productId,
          quantity: quantity,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (response) {
          // Update cart count on page
          $('.cart-len').text(response.cart_len)
          total.text('Total Price: £' + response.total)
          if (response.cart_len === 0) {
            $('.cart-products-section').text('You have no items in your cart.')
          }
    
          if ($('.message-container').length === 0) {
            // Create and append message-container div to header only if it doesn't exist
            $('header').append($('<div>', { class: 'message-container' }))
          }
          if ($('.message').length === 0) {
            // Create and append message div to message-container only if it doesn't exist
            $('.message-container').append($('<div>', { class: 'message', text: response.message }))
          } else {
            // Update existing message div with new message text
            $('.message').text(response.message)
          }
          // Show the message container, wait 3000ms, then fade out
          $('.message-container').show().delay(3000).fadeOut()
        },
        error: function (error) {
          alert('Error while updating the cart!')
        }
      })
    })
    
    $('#clear-all-carts-button').on('click', function () {
      $.ajax({
        url: "{% url 'clear_all_carts' %}",
        method: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (response) {
          $('.cart-len').text('0')
          $('.cart-products-section').text('You have no active carts.')
        },
        error: function (xhr) {
          console.error('Error:', xhr.responseText)
        }
      })
    })
  </script>
{% endblock %}
