{% extends 'base.html' %} {% block content_main %}
  <div class="page-title-container">
    <h1 class="page-title">About this project</h1>
    <p class="page-subtitle"></p>

    <!-- Add more content here -->
  </div>
  <div class="page-section">
    <div class="page-container">
      <div class="page-grid">
        <section class="contact-info">
          <h2 class="underline">About Us</h2>
          <p class="mb-4 text-center">We are a dedicated e-commerce platform focused on providing high-quality baby clothes and toys for new parents and guardians. Our mission is to make shopping for your baby's needs easy, secure, and enjoyable.</p>

          <h3 class="underline">Our Features</h3>
          <ul class="contact-ulist">
            <li>Product sorting by type (clothes/toys), name, and price</li>
            <li>Current promotions and discounts</li>
            <li>Account registration for returning customers</li>
            <li>Order tracking system</li>
            <li>Smooth and secure checkout process</li>
          </ul>

          <h3 class="underline">Technology Stack</h3>
          <ul class="contact-ulist">
            <li>HTML/CSS for frontend development</li>
            <li>JavaScript for interactive features</li>
            <li>Python, using Django as the backend framework</li>
            <li>Docker for deployment</li>
            <li>Stripe for payment processing</li>
            <!-- Add more technologies if available -->
          </ul>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
