{% extends 'base.html' %} {% block content_main %}
  <div class="page-title-container">
    <h1 class="page-title">How to contact</h1>
    <p class="page-subtitle"></p>

    <!-- Add more content here -->
  </div>
  <div class="page-section">
    <div class="page-container">
      <div class="page-grid">
        <section class="contact-info">
          <h2 class="font-bold col-span-full">Feel free to reach out via any of the following channels:</h2>
          <ul class="contact-ulist">
            <li>
              Email: <a href="mailto:m1293b@m1293b.com">m1293b@m1293b.com</a>
            </li>
            <li>
              Website: <a href="http://www.m1293b.com" target="_blank">m1293b.com</a>
            </li>
            <li>
              Github: <a href="https://github.com/m1293b" target="_blank">@m1293b</a>
            </li>
            <li>
              Dockerhub: <a href="https://hub.docker.com/u/m1293b" target="_blank">m1293b</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
