{% extends 'base.html' %} {% block content_main %}
  <div class="page-title-container">
    <h1 class="page-title">How to contact us</h1>
    <p class="page-subtitle"></p>

    <!-- Add more content here -->
  </div>
  <div class="page-section">
    <div class="page-container">
      <div class="page-grid">
        <h3 class="page-heading">Shop Baby Clothes</h3>
        <!-- Baby Clothes product cards -->
        <!-- Onsies -->
        <a href="{% url 'products' %}?category=onesies" class="product-card-link">
          <div class="product-card">
            <img src="/static/images/baby-onesies.jpg" alt="Baby Onesies" class="product-image" />
            <h3 class="product-title">Onesies</h3>
          </div>
        </a>

        <!-- Sleepwear -->
        <a href="{% url 'products' %}?category=sleepwear" class="product-card-link">
          <div class="product-card">
            <img src="/static/images/baby-sleepwear.jpg" alt="Baby Sleepwear" class="product-image" />
            <h3 class="product-title">Sleepwear</h3>
          </div>
        </a>

        <!-- Outerwear -->
        <a href="{% url 'products' %}?category=outerwear" class="product-card-link">
          <div class="product-card">
            <img src="/static/images/baby-outerwear.jpg" alt="Baby Outerwear" class="product-image" />
            <h3 class="product-title">Outerwear</h3>
          </div>
        </a>
        <a href="{% url 'products' %}?category=accessories" class="product-card-link">
          <div class="product-card">
            <img src="/static/images/baby-accessories.jpg" alt="Baby Accessories" class="product-image" />
            <h3 class="product-title">Accessories</h3>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="page-section-light">
    <div class="page-container">
      <div class="page-grid">
        <h3 class="page-heading">Shop Baby Toys</h3>
        <!-- Baby Toy product cards -->
        <a href="{% url 'products' %}?category=rattles" class="product-card-link">
          <div class="product-card">
            <img src="/static/images/baby-rattles.jpg" alt="Baby Rattles" class="product-image" />
            <h3 class="product-title">Rattles</h3>
          </div>
        </a>
        <a href="{% url 'products' %}?category=teethers" class="product-card-link">
          <div class="product-card">
            <img src="/static/images/baby-teethers.jpg" alt="Baby Teethers" class="product-image" />
            <h3 class="product-title">Teethers</h3>
          </div>
        </a>
        <a href="{% url 'products' %}?category=plushes" class="product-card-link">
          <div class="product-card">
            <img src="/static/images/baby-plush-toys.jpg" alt="Baby Plush Toys" class="product-image" />
            <h3 class="product-title">Plush Toys</h3>
          </div>
        </a>
        <a href="{% url 'products' %}?category=mobiles" class="product-card-link">
          <div class="product-card">
            <img src="/static/images/baby-mobiles.jpg" alt="Baby Mobiles" class="product-image" />
            <h3 class="product-title">Mobiles</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
