{% extends 'base.html' %}
{% load static %}

{% block content_main %}
  <div class="page-title-container">
    <h1 class="text-center page-title">Profile</h1>
    <p class="page-subtitle">{{ page_description }}</p>
  </div>

  <div class="page-section">
    
    <div class="page-container">
      <div class="page-grid">
        <div class="cart-products-section">
          {% if cart_items %}
            {% for item in cart_items %}
              <h2>Cart: {{ item.cart.pk }}</h2>
              <p>{{ item.product.name }} - Quantity: {{ item.quantity }}</p>
              <hr class="horizontal-rule" />
            {% endfor %}
          {% else %}
            <p>No products in your carts.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <script>
    
  </script>
{% endblock %}
