{% extends 'base.html' %}
{% load static %}
{% block content_main %}
  <div class="page-title-container">
    <h1 class="text-center page-title">My Orders</h1>
    <p class="page-subtitle">{{ page_description }}</p>
  </div>
  <div class="page-section">
    <div class="page-container">
      <div class="page-grid">
        <div class="cart-products-section">
          <div class="order-details">
            <h2 class="text-center">Order Details</h2>
            {% for order in orders %}
              <div class="order-card">
                <p>
                  <strong>Order ID:</strong> {{ order.id }}
                </p>
                <p>
                  <strong>Status:</strong> {{ order.status }}
                </p>
                <p>
                  <strong>Total:</strong> £{{ order.total|floatformat:2 }}
                </p>
                <p>
                  <strong>Date Created:</strong> {{ order.created_at }}
                </p>
                <p>
                  <strong>Last Updated:</strong> {{ order.updated_at }}
                </p>
                <br />
                <h3 class="text-center">Order Items</h3>
                {% for item in order.order_items.all %}
                  <div class="order-item-card">
                    <p>
                      <strong>Product:</strong> {{ item.product.name }}
                    </p>
                    <p>
                      <strong>Quantity:</strong> {{ item.quantity }}
                    </p>
                    <p>
                      <strong>Price:</strong> £{{ item.price|floatformat:2 }}
                    </p>
                  </div>
                {% endfor %}
              </div>
              {% if not foorloop.last %}
                <hr class="horizontal-rule" />
              {% endif %}
            {% empty %}
              <p>No orders found.</p>
            {% endfor %}
            <a href="{% url 'profile' %}" class="checkout-page-button">Go to Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
