{% extends 'base.html' %}
{% block content_main %}
  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

  <form action="{% url 'process_payment' %}" method="post">
    {% csrf_token %}
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <button type="submit" class="btn btn-primary">Pay</button>
  </form>

  <script>
    const stripe = Stripe('{{ stripe_key }}')
    const elements = stripe.elements()
    
    // Create an instance of the card Element
    const cardElement = elements.create('card')
    
    // Add an instance of the card Element into the `card-element` div
    cardElement.mount('#card-element')
    
    // Handle form submission
    const form = document.querySelector('form')
    form.addEventListener('submit', function (event) {
      event.preventDefault()
    
      stripe.createToken(cardElement).then(function (result) {
        if (result.error) {
          // Inform the user if there was an error
          console.log(result.error.message)
        } else {
          // Send the token to your server
          const hiddenInput = document.createElement('input')
          hiddenInput.setAttribute('type', 'hidden')
          hiddenInput.setAttribute('name', 'stripeToken')
          hiddenInput.setAttribute('value', result.token.id)
          form.appendChild(hiddenInput)
    
          form.submit()
        }
      })
    })
  </script>
{% endblock %}
