{% extends 'base.html' %}
{% load static %}
{% block content_main %}
  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

  <div class="page-title-container">
    <h1 class="page-title">Taking payment for {{ product.name }}</h1>
    <p class="page-subtitle">which is in the category of {{ product.category.friendly_name }}</p>
  </div>

  <div class="page-container">
    <div class="page-section">
      <form action="{% url 'success' %}" method="post" id="payment-form">
        {% csrf_token %}
        <div class="payment-page-grid">
          <!-- Create a container for the card element -->
          <div id="card-element" data-stripe="elements">
            <!-- The card Element will be inserted here by JavaScript -->
          </div>
          <button type="submit" class="checkout-page-button" id="pay-button" aria-label="Pay button">Pay £{{ to_pay }}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block post_load_js %}
  {{ block.super }}
  {{ stripe_public_key|json_script:'id_stripe_public_key' }}
  {{ client_secret|json_script:'id_client_secret' }}
  <script type="text/javascript" src="{% static 'js/stripe_elements.js' %}?v=0.31"></script>

  <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
