@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./static/css/base.css -o ./static/css/style.css --watch */
/* python3 manage.py tailwind start */

.navbar {
    @apply bg-boys-dark sticky top-0 z-50 transition-all duration-300 ease-in-out w-full;
}

.navbar-container {
    @apply container mx-auto px-4 flex flex-row items-center justify-between h-16 w-full;
}

.navbar-sticky {
    @apply shadow-md;
}

.logo-container {
    @apply flex items-center;
}

.logo {
    @apply h-10 w-auto mr-2;
}

.brand-name {
    @apply text-xl font-bold text-boys-dark hidden sm:inline;
}

.nav-links {
    @apply flex items-center justify-center space-x-4;
}

.nav-link {
    @apply text-boys-dark px-2 py-2 rounded-md transition-colors duration-300 hover:bg-girls-light text-sm whitespace-nowrap;
}

.nav-right {
    @apply flex items-center justify-end space-x-2;
}

.cart-icon {
    @apply text-xl text-boys-light;
}

.login-btn {
    @apply bg-boys-light text-white px-2 py-1 rounded-md cursor-pointer transition-colors duration-300 hover:bg-boys-dark text-sm whitespace-nowrap;
}

@media (max-width: 640px) {
    .navbar-container {
        @apply justify-between;
    }

    .nav-links {
        @apply hidden;
    }

    .nav-right {
        @apply ml-auto;
    }
}

:root {
    --white: #fcfefe;
    --girls-light: #ffcbcb;
    --girls-dark: #ffb5b5;
    --boys-light: #407088;
    --boys-dark: #132743;
}