@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* npx tailwindcss -i ./static/css/base.css -o ./static/css/style.css --watch */
/* python3 manage.py tailwind start */

:root {
  --txt-light: #fcfefe;
  --txt-dark: #132743;
  --primary-light: #407088;
  --primary-dark: #132743;
  --secondary-light: #ffcbcb;
  --secondary-dark: #ffb5b5;
}

.theme-boys {
  @apply text-[var(--txt-light)];
  --theme-primary-light: var(--primary-light);
  --theme-primary-dark: var(--primary-dark);
  --theme-secondary-light: var(--secondary-light);
  --theme-secondary-dark: var(--secondary-dark);
}

.theme-girls {
  @apply text-[var(--txt-dark)];
  --theme-primary-light: var(--secondary-light);
  --theme-primary-dark: var(--secondary-dark);
  --theme-secondary-light: var(--primary-light);
  --theme-secondary-dark: var(--primary-dark);
}

/* Theme toggle */

body {
  @apply text-[var(--txt-light)];
}

.theme-toggle {
  @apply bg-[var(--theme-secondary-light)] text-[var(--theme-primary-dark)] px-2 py-1 ml-[10px] md:ml-[65px] rounded-md cursor-pointer transition-colors duration-300 text-xs sm:text-sm whitespace-nowrap order-3 md:order-4;
}

.theme-boys .theme-toggle:hover {
  @apply bg-[var(--theme-secondary-dark)] text-[var(--txt-light)];
}

.theme-girls .theme-toggle:hover {
  @apply bg-[var(--theme-secondary-dark)] text-[var(--txt-light)];
}

/* Navigation bar styling */

.navbar {
  @apply bg-[var(--theme-primary-dark)] fixed top-0 transition-all duration-300 ease-in-out w-full flex shadow-xl z-10;
}

.navbar-container {
  @apply container grid items-center justify-between w-full h-16 grid-flow-col px-4 mx-auto;
}

/* Hamburger menu */
.hamburger-menu-button {
  @apply z-10 bg-slate-100 rounded border-none cursor-pointer p-5 ml-5 mr-[30px] flex justify-center items-center w-8 h-6 outline-none transition-colors duration-300 md:hidden;
}

.hamburger-menu-button i {
  @apply text-gray-800 transition-transform duration-300;
}

.fas.fa-chevron-down {
  @apply hidden;
}

.fa-bars,
.fa-chevron-down {
  @apply transition-all duration-200 ease-in-out transform;
}

/* Logo */

.logo-container {
  @apply flex items-center order-2 md:order-1;
}

.logo {
  @apply w-auto h-10 mr-2 rounded-[50%];
}

.brand-name {
  @apply hidden text-xl font-bold md:inline;
}

/* Search bar */

.search-bar-container {
  @apply relative flex items-center order-3 w-full h-16 px-4 mx-auto md:order-2;
}

.search-form {
  @apply absolute top-[65px] items-center grid-flow-col gap-x-4 left-[-70px] md:left-[-50px];
}

.search-input {
  @apply bg-slate-50 border-none rounded-md text-gray-700 focus:outline-none focus:border-l-theme-primary-dark focus:border-r-theme-primary-light h-12 pl-8 pr-3 w-[105%] md:w-[99%] shadow-lg;
}

.search-submit-button {
  @apply absolute text-gray-500 cursor-pointer left-2 justify-self-center hover:text-blue-500 md:mr-4 lg:mr-6;
}

/* Nav links */

.nav-links {
  @apply absolute top-[64px] pointer-events-none md:pointer-events-auto grid grid-flow-row border rounded-b-lg border-[var(--txt-light)] shadow-lg items-center justify-center justify-items-center space-x-0 space-y-4 py-2 bg-theme-primary-light ml-[2.5px] font-bold md:z-[2] md:font-medium sm:ml-0 md:bg-theme-primary-dark md:shadow-none transition-all duration-100 md:static md:space-x-4 md:space-y-0 md:py-0 md:grid md:grid-flow-col md:border-none order-1 md:order-2 md:opacity-100;
}

.nav-links-down {
  @apply opacity-100 pointer-events-auto motion-preset-focus motion-duration-[0.33s];
}

.nav-links-up {
  @apply motion-opacity-out-0 motion-preset-slide-up motion-duration-[0.33s] md:opacity-100 pointer-events-none;
}

.nav-link {
  @apply text-sm md:text-base justify-self-center px-[11px] py-1 rounded-md transition-colors duration-75 hover:bg-[var(--theme-primary-dark)] md:hover:bg-[var(--theme-primary-light)];
}

/* Cart, login and buttons for account */

.nav-mid {
  @apply fixed top-[64px] py-1 pointer-events-none md:pointer-events-auto grid grid-flow-row md:grid-flow-col items-center justify-items-center justify-self-center px-3 space-y-0 border rounded-b-lg border-[var(--txt-light)] shadow-lg bg-theme-primary-light md:opacity-100 md:bg-theme-primary-light md:space-x-2;
}

.nav-mid-down {
  @apply opacity-100 pointer-events-auto motion-preset-focus motion-duration-[0.33s] motion-opacity-in-100 motion-preset-fade-sm;
}

.nav-mid-up {
  @apply motion-opacity-out-0 motion-preset-slide-up motion-duration-[0.33s] pointer-events-none;
}

.cart-icon {
  @apply grid text-xl p-2 md:px-2 md:py-1 rounded-md transition-colors duration-300 hover:bg-[var(--theme-primary-dark)];
}

.cart-len {
  @apply absolute left-[52px] md:left-[45px] text-[60%] font-bold;
}

.login-btn {
  @apply p-2 md:px-2 md:py-1 rounded-md cursor-pointer transition-colors duration-75 hover:bg-[var(--theme-primary-dark)] font-bold text-sm md:text-lg whitespace-nowrap;
}

.admin-btn {
  @apply p-2 md:px-2 md:py-1 rounded-md cursor-pointer transition-colors duration-75 hover:bg-[var(--theme-primary-dark)] font-bold text-sm md:text-lg whitespace-nowrap;
}

/* Product detail page styling */

.product-detail-container {
  @apply grid grid-cols-1 mx-3 mb-4 text-base rounded-md shadow-lg md:grid-cols-2 sm:text-lg md:text-xl sm:mb-6 md:mb-8 bg-theme-primary-dark;
}

.product-detail-container-header {
  @apply grid content-center p-4 justify-items-center;
}

.product-detail-image {
  @apply object-cover w-[45%] max-w-[530px] h-auto rounded-[10rem] border-2 border-[var(--txt-light)] md:min-w-[300px];
}

.product-detail-section {
  @apply grid content-center gap-4 p-8 justify-items-center;
}

.product-detail-section form {
  @apply grid content-center gap-4 text-center justify-items-center;
}

.product-detail-section input,
.product-detail-section select,
.product-detail-section textarea {
  @apply rounded-md border-[var(--txt-light)] focus:border-[var(--theme-primary-dark)] focus:outline-none px-3 py-2 mb-2 text-sm md:text-lg text-[var(--txt-dark)];
}

.product-detail-section select {
  @apply h-[40px] w-[60px] rounded-md;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.product-detail-section select::-ms-expand {
  display: none;
}

.product-detail-section textarea {
  @apply h-[120px] w-[330px] md:h-[150px] md:w-[400px] resize max-h-[160px] max-w-[700px] overflow-hidden;
}

.product-detail-section button {
  @apply px-4 py-2 rounded-md bg-theme-primary-light border-2 border-[var(--txt-light)] hover:bg-theme-primary-dark hover:text-white focus:outline-none transition-all duration-300;
}

body.theme-girls div.product-detail-container p.dark-text {
  color: var(--text-dark); /* Dark theme text */
}

body.theme-boys div.product-detail-container p.light-text {
  color: var(--text-light); /* Light theme text */
}

.review-item {
  @apply grid items-center content-center grid-cols-2 p-3 mb-1 border-2 rounded border-sky-100;
}

/* Cart summary styling */

.cart-products-section {
  @apply grid grid-flow-row gap-4 col-span-full sm:gap-6 md:gap-8 justify-items-center;
}

.cart-products-section button {
  @apply p-2 text-white transition-all duration-300 border-2 border-white rounded bg-theme-primary-light hover:bg-theme-primary-dark;
}

.cart-product-card {
  @apply grid items-center grid-flow-row md:grid-flow-col md:grid-cols-3 justify-items-center;
}

.cart-product-link {
  @apply grid justify-items-center max-w-[20%];
}

.cart-product-image {
  @apply block object-cover mb-2 rounded-lg max-w-[100%];
}

.cart-product-title {
  @apply text-lg font-semibold sm:text-xl md:text-2xl;
}

.cart-product-details-form {
  @apply grid grid-cols-1 gap-2;
}

.cart-product-quantity {
  @apply px-1 py-2 font-bold text-center text-white rounded-md bg-theme-primary-dark;
}

.cart-product-actions {
  @apply grid grid-cols-2 gap-1 mt-2 justify-items-center;
}

.cart-separator {
  @apply py-1 bg-white max-w-[80%] rounded-lg;
}

/* General page styling */

.background-container {
  @apply container max-w-[90%] grid px-4 pt-16 pb-4 md:mt-[80px] mb-10 mx-auto transition-all duration-300 ease-out shadow-md justify-items-center sm:py-6 md:py-8 bg-theme-primary-light outline-2 outline-dotted outline-theme-primary-dark outline-offset-2;
}

.background-container-header {
  @apply container pt-20;
}

.message-container {
  @apply fixed grid content-center bottom-[20px] right-[20px] bg-theme-primary-light p-4 shadow-md rounded-lg ease-out transition-all duration-300 outline-2 outline-dotted outline-red-600 outline-offset-2;
}

.message {
  @apply text-sm font-bold leading-relaxed text-white sm:text-base md:text-lg;
}

.horizontal-rule {
  @apply my-10 text-white w-[80%];
}

.horizontal-rule-message {
  @apply text-white w-[80%];
}

.page-title-container {
  @apply container grid grid-cols-1 px-4 pt-16 pb-4 mx-auto mt-16 sm:py-6 md:py-8;
}

.page-title {
  @apply text-2xl sm:text-3xl md:text-4xl font-bold text-[var(--theme-primary-dark)] mt-10 mb-2 sm:mb-3 md:mb-4;
}

.sort-products {
  @apply grid content-center row-span-2 justify-items-end text-theme-primary-dark;
}

.sort-products form {
  @apply grid grid-cols-1 text-center max-w-[50%] gap-x-3 gap-y-1 sm:gap-x-5 sm:gap-y-2 md:gap-x-7 md:gap-y-3;
}

.sort-products .sort-button {
  @apply px-4 py-2 mt-2 text-sm font-bold text-white transition duration-300 ease-in-out border rounded-md border-theme-primary-dark bg-theme-primary-light hover:bg-theme-primary-dark;
}

.page-subtitle {
  @apply text-base sm:text-lg md:text-xl text-[var(--theme-primary-light)] mb-4 sm:mb-6 md:mb-8;
}

.page-container {
  @apply container px-4 py-4 mx-auto mt-2 sm:py-6 md:py-8;
}

.page-section {
  @apply container rounded bg-[var(--theme-primary-dark)] py-6 sm:py-8 md:py-10 mb-4;
}

.page-section-light {
  @apply container rounded bg-[var(--theme-primary-light)] py-6 sm:py-8 md:py-10;
}

.page-grid {
  @apply grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4 sm:gap-6 md:gap-8;
}

.page-heading {
  @apply mb-4 text-xl font-semibold sm:text-2xl md:text-3xl col-span-full;
}

.category-card {
  @apply grid justify-items-center col-span-full;
}

.category-title {
  @apply mb-4 text-base sm:text-lg md:text-xl col-span-full;
}

.category-image {
  @apply rounded-md max-w-[10%];
}

.products-page-title-container {
  @apply container grid grid-cols-2 px-4 pt-16 pb-4 mx-auto mt-16 sm:py-6 md:py-8;
}

.products-section {
  @apply grid grid-flow-col gap-4 justify-items-center col-span-full sm:gap-6 md:gap-8;
}

.product-card {
  @apply text-center cursor-pointer;
}

.product-link {
  @apply grid justify-items-center;
}

.product-image {
  @apply object-cover mb-2 rounded-lg max-w-[66%];
}

.product-title {
  @apply text-lg font-semibold sm:text-xl md:text-2xl;
}

.separator {
  @apply py-4 bg-white sm:py-6 md:py-8;
}

/* Profile page styling */

#clear-all-carts-button {
  @apply relative px-3 py-1 text-sm font-semibold border rounded-md top-[-12px] left-2 bg-theme-primary-light hover:bg-theme-primary-dark transition-all duration-300 focus:outline-none focus:ring-2;
}
