{% load django_browser_reload %}
{% load static %} {% load tailwind_tags %}
<!DOCTYPE html>
<html>
  <head>
    {% tailwind_css %} {% block meta %}
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="icon" href="{% static 'assets/img/favicon_boys.ico' %}?v=0.1" />
    {% endblock %} {% block extra_meta %}

    {% endblock %} {% comment %}extra .js files{% endcomment %}
    {% block core_js %}
      <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    {% endblock %}
    {% block extra_js %}
      <script src="{% static 'js/theme-switcher.js' %}?v=0.1"></script>
    {% endblock %} {% comment %}extra{% endcomment %} {% block title %}
      <title>
        Baby-suite{% block extra_title %}

        {% endblock %}
      </title>
    {% endblock %} {% block extra_css %}
      <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css" />
    {% endblock %}
  </head>
  <body class="">
    <header>
      <!-- Nav element to be placed here -->
      {% include 'navbar.html' %}
    </header>
    {% if messages %}
      <div class="message-container">
        <!-- "Flash messages" to be displayed here -->
        {% for message in messages %}
          <div class="message {{ message.tags }}">{{ message }}</div>
          {% if not forloop.last %}
            <hr class="horizontal-rule-message" />
          {% endif %}
        {% endfor %}
        <!-- End of "Flash messages" -->
      </div>
    {% endif %} {% block page_header %}
      {% comment %}For pages to display their own header{% endcomment %}
    {% endblock %} {% block content_main %}
      {% comment %}main content for each page{% endcomment %}
    {% endblock %} {% block post_load_js %}
      {% comment %}Files to be loaded after the page has loaded in{% endcomment %}
      <script src="{% static 'js/script.js' %}?v=0.2"></script>
    {% endblock %}
    {% django_browser_reload_script %}
  </body>
</html>
