{% extends 'base.html' %}
{% load static %}
{% block content_main %}
  <div class="page-title-container">
    <h1 class="page-title">Detailed view of {{ product.name }}</h1>
    <p class="page-subtitle">which is in the category of {{ product.category.friendly_name }}</p>
  </div>

  <div class="product-detail-container">
    <div class="product-detail-container-header">
      {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-detail-image" />
      {% else %}
        <img src="{% static 'assets/img/no-clothes-picture.jpg' %}" alt="{{ product.name }}" class="product-detail-image" />
      {% endif %}
    </div>

    <div class="product-detail-section">
      <p class="{% if product.is_on_sale %}line-through text-xs{% endif %}">Price: £{{ product.price }}</p>

      {% if product.is_on_sale == True %}
        <p class="on-sale">Sale Price: £{{ product.sale_price }}</p>
      {% endif %}

      <p>Description: {{ product.description }}</p>

      <p>
        Size:{% if product.size %}
          {{ product.size }}
        {% else %}
          N/A
        {% endif %}
      </p>

      <p>
        Color:{% if product.color %}
          {{ product.color }}
        {% else %}
          N/A
        {% endif %}
      </p>

      <p>
        Stock:{% if product.stock > 0 %}
          {{ product.stock }} in stock
        {% else %}
          <span style="color:red">Out of stock</span>
        {% endif %}
      </p>

      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" min="1" max="{{ product.stock }}" value="1" />

      <button type="submit" id="add-to-cart" value="{{ product.pk }}" aria-label="Add to cart button">Add to Cart</button>

      <hr class="horizontal-rule" />

      <h2>Customer Reviews</h2>
      {% if reviews %}
        <ul>
          {% for review in reviews %}
            <li class="review-item">
              <p class="col-span-2">
                <span class="px-2 font-bold bg-red-600 rounded-lg">{{ review.rating }}</span> out of 5 stars - <br />{{ review.comment }}
              </p>
              <small>By: {{ review.user.username }}</small>
              <small>Posted on: {{ review.created_at }}</small>
              {% if user.is_authenticated and user == review.user %}
                <a href="{% url 'remove_review' review.pk %}" type="button" class="text-sm text-center text-red-600 hover:text-red-800" data-product-id="{{ review.pk }}">Remove Review</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No reviews yet.</p>
      {% endif %}

      {% if user.is_authenticated %}
        <form method="post" action="{% url 'add_review' product.pk %}">
          {% csrf_token %}
          <label for="rating">Rating:</label>
          <select id="rating" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
          </select>

          <label for="comment">Comment:</label>
          <textarea id="comment" name="comment"></textarea>

          <button type="submit" aria-label="Submit review button">Submit Review</button>
        </form>
      {% else %}
        <p>Please log in to leave a review.</p>
      {% endif %}
    </div>
  </div>

  <script>
    $('#add-to-cart').on('click', function () {
      const product_id = $(this).val()
      const quantity = $('#quantity').val()
    
      // Send AJAX request to add product to cart
      $.ajax({
        type: 'POST',
        url: "{% url 'add_to_cart' %}",
        data: {
          product_id: product_id,
          quantity: quantity,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (response) {
          updatePage(response)
        },
        error: function () {
          alert('Error adding product to cart!')
        }
      })
    })
  </script>
{% endblock %}
