{% extends 'base.html' %}
{% load static %}

{% block content_main %}
  <div class="products-page-title-container">
    <h1 class="page-title">{{ page_title }}</h1>
    <div class="sort-products">
      <form method="get" action="{% url 'products' %}">
        {% if main_category %}
          <input type="hidden" name="main_category" value="{{ main_category }}" />
        {% endif %}

        {% if search_term %}
          <input type="hidden" name="q" value="{{ search_term }}" />
        {% endif %}
        <label for="sort">Sort by:</label>
        <select name="sort" id="sort">
          <option value="" {% if sort == '' %}selected{% endif %}>Select a sort option</option>
          <option value="name" {% if sort == 'name' %}selected{% endif %}>Name (A-Z)</option>
          <option value="-name" {% if sort == '-name' %}selected{% endif %}>Name (Z-A)</option>
          <option value="price" {% if sort == 'price' %}selected{% endif %}>Price: Low to High</option>
          <option value="-price" {% if sort == '-price' %}selected{% endif %}>Price: High to Low</option>
        </select>
        <button type="submit" id="sort-button" aria-label="Sort button">Sort</button>
      </form>
    </div>
    <p class="page-subtitle">{{ page_description }}</p>
  </div>

  {% if products_found %}
    {% with products_found=False %}
      {% for category in categories %}
        {% with product_count=category.product_set.count %}
          {% if product_count > 0 %}
            {% with products_found=True %}
              <div class="page-section">
                <div class="page-container">
                  <div class="page-grid">
                    <div class="category-card">
                      {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{ category.name }}" class="category-image" />
                      {% else %}
                        <img src="{% static 'assets/img/no-clothes-picture.jpg' %}" alt="{{ category.name }}" class="category-image" />
                      {% endif %}
                      <h3 class="category-title">{{ category.name }}</h3>
                    </div>

                    <div class="products-section">
                      {% for product in category.product_set.all %}
                        <div class="product-card">
                          <a href="{% url 'product_detail' pk=product.pk %}" class="product-link">
                            {% if product.image %}
                              <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image" />
                            {% else %}
                              <img src="{% static 'assets/img/no-clothes-picture.jpg' %}" alt="{{ product.name }}" class="product-image" />
                            {% endif %}
                            <h3 class="product-title">{{ product.name }}</h3>
                            <p class="product-price {% if product.is_on_sale %}line-through text-xs{% endif %}">£{{ product.price }}</p>
                          </a>
                          {% if product.is_on_sale %}
                            <p>
                              <span class="on-sale">£{{ product.sale_price }}</span>
                            </p>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="separator"></div>
            {% endwith %}
          {% endif %}
        {% endwith %}
      {% endfor %}
    {% endwith %}
  {% else %}
    <div class="page-section">
      <div class="page-container">
        <div class="page-grid">
          <div class="category-card">
            <p>No products have been found across all categories.</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
